## Sele√ß√£o dos participantes do Fronteiras da Inova√ß√£o S01E01

Recebemos muitos participantes nesta evento e para tornar o processo de escolha o mais transparente o poss√≠vel, constru√≠mos um algoritmos simples que pode ser verificado por qualquer um. üòé

 ![](thanos.gif)

Importa√ß√£o das bibliotecas necess√°rias.

In [7]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

Importa√ß√£o dos dados exportados do *Typeform*. O *sheetname* sempre vem fora de padr√£o, portanto √© necess√°rio abrir antes o arquivo para descobrir o seu nome üòÜ.

In [8]:
df = pd.read_excel("responses.xlsx", sheet_name="SAKlgu")

print("Nome de colunas:")
print(df.columns)

Nome de colunas:
Index(['Id', 'Nome', 'Sobrenome', 'Start Date (UTC)', 'Submit Date (UTC)',
       'Network ID'],
      dtype='object')

A coluna do e-mail ser√° usada para filtrar, rand√¥micamente os 60 participantes, sem nenhuma distin√ß√£o, *"perfectly balanced as all things should be"*.

Use o mesmo *random_state* para simular o sorteio.

In [9]:
df[['Nome','Sobrenome']].sample(70, random_state=10)

                          Nome   Sobrenome
142                      Maria       Costa
10                      Nelson       Filho
5                thiago crisol      Crisol
59                      Victor   Bergamini
103                     Carlos        Pino
19                     Gabriel       Souza
83                     Mariane       Suiya
47            Guilherme Vieira      Vieira
2                        Renan   Barcellos
102                     Felipe     Rog√©rio
150                     MURILO   BENEVIDES
35                     ricardo    miyazaki
116                   Isabella      Izidio
117                     Rafael        Dias
76                        Luiz     Vergari
56                     Conrado   Tarricone
20                      gisela      Thiele
110                    Horacio    Carneiro
72                        Jo√£o    Casta√±√≥n
165                    Juliana    Prot√°sio
39                    Ver√¥nica       Silva
52                       Lucas       Elias
69                    victoria     modesto
144                     Murilo    Morgante
129                     Nataly     briquet
1                        Kelly      Soares
105                   Isabella     Felippe
70                       Diego      Ishiwa
147                    Daniele       Penh√£
151                     M√°rcio  Nascimento
..                         ...         ...
46                     Isadora      Araujo
99                         Edi    Teixeira
186                     D√©bora    Coutinho
61                     Emanuel      Baldan
78                       Vitor   Concei√ß√£o
24                    Carolina       Fazio
60                       Vitor      Vargas
128                    Mariana    Talaisys
132                   Vinicius   Pesqueira
21                       Jaime    Dionizio
55                      felipe    ferreira
109                       Eric       Tonza
68                      Rafael      Coelho
154                       Joel       Dutra
49                      Daniel     Garrido
112  Eduardo Fernandes Batista     Batista
162                   Victoria     Masutti
91                       Tiago     Santana
136                       Jo√£o      Macedo
80                     Marcelo     vassari
43                     Giovana  Martinelli
58                     Emerson     Morelli
159                    Larissa       Paiva
181                   Fernanda       Gobbo
67                     Tatiane     Gouveia
146                     Camila     Sacchis
124                      Isana    Oliveira
66                        Igor     Marques
178                     Victor       Sousa
38                        Ta√≠s        Slav

[70 rows x 2 columns]